*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-primary {
  color: #34B834;
}

.color-gray {
  color: #888A8C;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 2rem;
}

.m-6 {
  margin: 3rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 2rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 2rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 2rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 2rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 2rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .container {
    margin-bottom: 6rem;
  }
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.flex-direction--spacebet {
  flex-direction: row;
  justify-content: space-between;
}

.w-fit--content {
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 960px) {
  .mobile--flex-col {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .mobile--width-80 {
    width: 80%;
  }
}

.bg-home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/banner.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.hero {
  max-width: 800px;
}
@media screen and (max-width: 960px) {
  .hero {
    max-width: 350px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
}
@media screen and (max-width: 960px) {
  .cards {
    gap: 1rem;
  }
  .cards > .card__evento:last-child {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .cards {
    flex-direction: column;
  }
}

.card__evento {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}
@media screen and (max-width: 960px) {
  .card__evento {
    max-width: 340px;
  }
}

.post__home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.newsletter {
  max-width: 1140px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .newsletter {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

.news-titulo {
  max-width: 480px;
  text-align: start;
}
@media screen and (max-width: 960px) {
  .news-titulo {
    max-width: 350px;
  }
}

input {
  width: 380px;
  padding: 1rem;
  background: #13132E;
  border-radius: 0.5rem;
  border: none;
}
@media screen and (max-width: 960px) {
  input {
    width: 200px;
  }
}

input:focus {
  border: 1px solid #34B834;
  outline: none;
}

h1 {
  color: #FBFBFB;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 2rem;
  }
}

h2 {
  color: #FBFBFB;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.5rem;
  }
}

h3 {
  color: #FBFBFB;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.125rem;
  }
}

h4 {
  color: #FBFBFB;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%;
}

h5 {
  color: #FBFBFB;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}

h6 {
  color: #FBFBFB;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}

a {
  color: #FBFBFB;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}

.btn__primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 2rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%;
  background-color: #34B834;
  color: #030318;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn__primary i {
  color: #030318;
}

.btn__primary:hover {
  transform: scale(1.02);
}

.btn__secondary {
  display: inline-block;
  color: #34B834;
  background: #13132E;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.btn__secondary:hover {
  transform: scale(1.01);
  background: #34B834;
  color: #13132E;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #030318;
}

img {
  display: block;
  width: 100%;
}

a {
  padding: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

i {
  color: #FBFBFB;
  font-size: 1.5rem;
}

.tag {
  text-transform: uppercase;
  color: #13132E;
  background: #34B834;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link {
  position: relative;
  display: inline-block;
}
.link::after {
  content: "";
  position: absolute;
  top: 85%;
  left: 2px;
  width: 0%;
  height: 2px;
  background-color: #34B834;
  transition: 0.3s ease;
}
.link:hover {
  transform: scale(1.01);
}
.link:hover::after {
  width: 95%;
}

header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 900;
}

.navbar__desktop {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar__desktop {
    display: none;
  }
}

.logo {
  max-width: 252px;
  display: inline-block;
}
@media screen and (max-width: 960px) {
  .logo {
    max-width: 180px;
  }
}

.menu__desktop {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.menu__desktop--link {
  position: relative;
}
.menu__desktop--link::after {
  content: "";
  position: absolute;
  top: 85%;
  left: 2px;
  width: 0;
  height: 2px;
  background-color: #34B834;
  transition: 0.5s ease;
}
.menu__desktop--link:hover::after {
  width: 95%;
}

.navbar__mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.bx-close {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
}
.bx-close::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  background-color: #FBFBFB;
  transition: 0.7s ease;
}
.bx-close::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 16%;
  width: 70%;
  height: 2px;
  background-color: #FBFBFB;
  transition: 0.7s ease;
}

.active-bx-close {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
}
.active-bx-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 16%;
  width: 70%;
  height: 2px;
  background-color: #FBFBFB;
  transform: rotate(-135deg);
}
.active-bx-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16%;
  width: 70%;
  height: 2px;
  background-color: #FBFBFB;
  transform: rotate(-405deg);
}

.menu__mobile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #13132E;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 1s ease;
}

.active-menu__mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list__mobile {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-link__mobile {
  display: inline-block;
  position: relative;
}
.nav-link__mobile::after {
  content: "";
  position: absolute;
  top: 85%;
  left: 2px;
  width: 0%;
  height: 2px;
  background-color: #34B834;
  transition: 0.5s ease;
}
.nav-link__mobile:hover::after {
  width: 100%;
}

.nav-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-icon__mobile:hover {
  cursor: pointer;
  color: #34B834;
}

.icon-titulo {
  color: #34B834;
  background: #13132E;
  padding: 12px;
  border-radius: 50%;
}

.wrapper-container--grid {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header buttons" "swiper swiper";
  grid-template-columns: 1fr auto;
}
@media screen and (max-width: 960px) {
  .wrapper-container--grid {
    grid-template-areas: "header" "swiper" "buttons";
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
  grid-area: swiper;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .swiper-container {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

.wrapper-header {
  grid-area: header;
}

.wrapper-buttons {
  grid-area: buttons;
}
@media screen and (max-width: 960px) {
  .wrapper-buttons {
    text-align: center;
    margin-top: 3rem;
  }
}

.button-next, .button-prev {
  cursor: pointer;
  transition: 0.3s ease;
}
.button-next:hover, .button-prev:hover {
  border: 1px solid #34B834;
}

.swiper-slide {
  max-width: 380px;
  height: 300px;
  padding: 1.5rem;
  text-align: start;
}

.swiper-slide--titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.photo-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo1 {
  background-image: url("../img/espacorobotica.png");
}

.photo2 {
  background-image: url("../img/roboowl.jpeg");
}

.photo3 {
  background-image: url("../img/br-ino.png");
}

.photo4 {
  background-image: url("../img/codigokid.png");
}

.photo5 {
  background-image: url("../img/myrobot.png");
}/*# sourceMappingURL=style.css.map */