*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import './section/colors';
@import './section/spacing';
@import './section/layout';
@import './section/typography';
@import './section/buttons';

body {
    width: 100%;
    height: 100vh;
    background-color: $black;
}

img {
    display: block;
    width: 100%;
}

a {
    padding: $gap-1;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

i {
    color: $white;
    font-size: 1.5rem;
}

.tag {
    text-transform: uppercase;
    color: $black-light;
    background: $primary;
    padding: $gap-2 $gap-3;
    border-radius: $gap-2;
}

.link {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        top: 85%;
        left: 2px;

        width: 0%;
        height: 2px;
        background-color: $primary;

        transition: .3s ease;
    }

    &:hover {
        transform: scale(1.01);
        &::after {
            width: 95%;
        }
    }
}

@import './section/header';
@import './section/icons';
