.container__detalhes {
    width: 100%;
    margin: 0 auto;
    padding: 350px 220px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include responsive(s) {
        padding: 150px 100px;
    }
}

.evento__bg-01 {
    background-image: url(../img/bannerDetalhesEvento/robocore.png);
}

.evento__bg-02 {
    background-image: url(../img/bannerDetalhesEvento/obr.png);
}

.post01 {
    background-image: url(../img/bannerBlog/combate.png);
}

.post02 {
    background-image: url(../img/bannerBlog/seguelinha.png);
}
