// Typography of project

@mixin typeface-1($size, $device: desktop) {
    font-family: "Hanken Grotesk", sans-serif;

    //H1
    @if $size == h1 and $device == desktop {
        font-size: 3rem;
        font-weight: 700;
        line-height: 120%;
    } @else if $size == h1 and $device == mobile {
        font-size: 2rem;
    }

    //H2
    @if $size == h2 and $device == desktop {
        font-size: 2rem;
        font-weight: 700;
        line-height: 120%;
    } @else if $size == h1 and $device == mobile {
        font-size: 1.5rem;
    }

    //H3
    @if $size == h3 and $device == desktop {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 120%;
    } @else if $size == h1 and $device == mobile {
        font-size: 1.125rem;
    }

    //H4
    @if $size == h4 and $device == desktop {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 140%;
    }

    //H5
    @if $size == h5 and $device == desktop {
        font-size: 1rem;
        font-weight: 700;
        line-height: 140%;
    }

    //H6
    @if $size == h6 and $device == desktop {
        font-size: .875rem;
        font-weight: 500;
        line-height: 140%;
    }

}

h1 {
    color: $white;
    @include typeface-1(h1, desktop);

    @include responsive(s){
        @include typeface-1(h1, mobile);
    }
}

h2 {
    color: $white;
    @include typeface-1(h2, desktop);
}

h3 {
    color: $white;
    @include typeface-1(h3, desktop);
}

h4 {
    color: $white;
    @include typeface-1(h4, desktop);
}

h5 {
    color: $white;
    @include typeface-1(h5, desktop);
}

h6 {
    color: $white;
    @include typeface-1(h6, desktop);
}

a {
    color: $white;
    @include typeface-1(h5, desktop);
}
